#container {
  width: 100%;
  padding: 0;
  margin: 0;

}

#navBar {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid black;

}

#mainContainer {
  width: 80%;
  height: 900px;
  margin: 0 auto;
  /*border: 2px solid black;*/
}

#leftContainer {
  width: 18%;
  height: 100%;
  float: left;
  /*border: 2px solid red;*/
  margin: 0;
}

#rightContainer {
  width: 78%;
  height: 100%;
  float: right;
  /*border: 2px solid blue;*/
  margin: 0;
}

#productTitle {
  margin-top: 50px;
  margin-left:10px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 300;
  color: #262626;

}

#progressContainer {
  width: 90%;
  height: 130px;
  border: 1px solid #D7D7D7;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;

}

#progressTop {
  width: 100%;
  height: 40px;
  /*border: 2px solid black;*/

}

#progressAmount {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 300;
  color: #262626;
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
  float: left;
}

#progressExpire {
  width: 170px;
  float: right;
  margin-top: 25px;
  margin-right: 35px;
  font-family: Helvetica;
}

#progressBar {
  width: 90%;
  margin: 0 auto;
}

.progress {
  width: 100%;
  height: 20px;
  border-radius: 2px;
}

.progress-wrap {
  background: #00CA72;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

#completedPayment {
  padding: 3px;
  border: 1px solid #D7D7D7;
  width: 100px;
  text-align: center;
  color: #D7D7D7;
  border-radius: 5px;
  font-family: Helvetica;

}

#imageContainer {
  width: 90%;
  margin-top: 20px;
  height: 400px;
  /*border: 1px solid #D7D7D7;*/
  margin-left: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('./images/echo.jpg')
}

#descriptionContainer {
  width: 90%;
  height: 200px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;

}

#profilePic {
    width: 120px;
  	height: 120px;
  	border: 2px solid #00CA72;
    overflow: hidden;
  	-moz-border-radius: 60px;
  	-webkit-border-radius: 60px;
  	border-radius: 60px;
    position: relative;
    margin-left: 15px;
    display: inline-block;
    float: left;
    margin-top: 30px;
}

#description {
  width: 510px;
  height: 120px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 35px;
  float: left;
  line-height: 25px;
  font-family: helvetica;
  justify-content: space-between;
}

#poolersContainer {
  width: 90%;
  height: 200px;
  border: 1px solid #D7D7D7;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;

}

#contributors {
  width: 90%;
  height: 40px;
  border-bottom: 1px solid #D7D7D7;
  margin: 0 auto;
  line-height: 55px;
  padding-left: 15px;
  font-family: Helvetica;

}

#contributorsDp {
  width: 90%;
  height: 90px;
  margin: 0 auto;
  padding-left: 15px;

}

.contributorSquare {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin-top: 20px;
  margin-left: 15px;
  /*background-color: red;*/
}

.contributorIcon {
  width: 60px;
  height: 60px;
  border: 2px solid #00CA72;
  overflow: hidden;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

#logo{
  float: left;
  background-image: url("images/Logo.png");
  height: 60px;
  width: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  /*width: 20%;*/

}
.user-img-round {
    margin-top: 50px;
    border-radius: 50%;
    overflow: visible;
    display: inline-block;
    line-height: 0;
    background-color: #F7F7F9;
    background-size: cover;
    background-position: center;
    position: relative;
}
