#container {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvitica;
}

#navBar {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}

#topBar {
  height: 70px;
  display: table-cell;
  width: 600px;
  padding: 10px;
  border-radius: 5px;
  vertical-align: middle;
  border-right: 0.5px solid grey;
  border-top: 0.5px solid grey;
  border-left: 0.5px solid grey;
  position: relative;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}

#bottomBar {
  height: 50px;
  width: 600px;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  border-right: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  border-left: 0.5px solid grey;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

#cards {
  display: block;
  margin: 20px auto;
}

#image1 {
  background-image: url("./images/pro1.png");
  height: 283px;
  width: 620px;
  background-size: contain;
  background-repeat: no-repeat;
}

#image2 {
  background-image: url("./images/shoes.png");
  height: 283px;
  width: 620px;
  background-size: contain;
  background-repeat: no-repeat;
}

#image3 {
  background-image: url("./images/chair.png");
  height: 283px;
  width: 620px;
  background-size: contain;
  background-repeat: no-repeat;
}
.img {
  border-radius: 10px;
}

#profileImg {
  float: left;
  padding: 0px 10px;

}

#data {
  float: left;
  width: 300px;
}
#data2 {
  float: left;
  width: 450px;
}
#rightData {
  float: right;

}

#name {
  /*float: left;*/
  display: block;
  padding: 0 5px;
}


#poolersData {
  /*float: right;*/
  display: block;
}

#poolMe {
  background-color: #00CA72;
  border-radius: 5px;
}

#buttonright {
  float: right;
}

#details {
  float: left;
  line-height: 79px;
}

#mainContainer {
  width: 80%;
  height: 900px;
  margin: 0 auto;
  /*text-align: center;*/
  /*border: 2px solid black;*/
}

#leftContainer {
  width: 18%;
  height: 100%;
  float: left;
  border: 2px solid red;
  margin: 0;
}

#rightContainer {
  width: 78%;
  height: 100%;
  float: right;
  /*border: 2px solid blue;*/
  margin: 0;
}

#productTitle {
  margin-top: 50px;
  margin-left:10px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 300;
  color: #262626;

}

#progressContainer {
  width: 100%;
  height: 130px;
  border: 1px solid #D7D7D7;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}

#progressTop {
  width: 100%;
  height: 40px;
  /*border: 2px solid black;*/

}

#progressAmount {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: 300;
  color: #262626;
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
  float: left;
}

#progressExpire {
  width: 170px;
  float: right;
  margin-top: 25px;
  margin-right: 30px;
}

#progressBar {
  width: 90%;
  margin: 0 auto;
}

.progress {
  width: 100%;
  height: 20px;
  border-radius: 2px;
}

.progress-wrap {
  background: #00CA72;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
}
.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

#completedPayment {
  padding: 3px;
  border: 1px solid #D7D7D7;
  width: 100px;
  text-align: center;
  color: #D7D7D7;
  border-radius: 5px;
  font-family: Helvetica;

}

#imageContainer {
  width: 90%;
  margin-top: 20px;
  height: 400px;
  /*border: 1px solid #D7D7D7;*/
  margin-left: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('./images/echo.jpg')
}

#descriptionContainer {
  width: 90%;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;

}

#profilePic {
    width: 120px;
  	height: 120px;
  	border: 2px solid #00CA72;
    overflow: hidden;
  	-moz-border-radius: 60px;
  	-webkit-border-radius: 60px;
  	border-radius: 60px;
    position: relative;
    margin-left: 15px;
    display: inline-block;
    float: left;
    margin-top: 25px;
}

#description {
  width: 510px;
  height: 120px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 35px;
  float: left;
  line-height: 25px;
  font-family: helvetica;
  justify-content: space-between;
}
